DES/wsdl/ClinicalDocument_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-07/05/2013 05:25 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="core.des.uti.ro" version="1.0" targetNamespace="core.des.uti.ro">

  <xs:element name="DesException" nillable="true" type="tns:desFaultBean"></xs:element>

  <xs:element name="DesRuntimeException" nillable="true" type="tns:desRuntimeFaultBean"></xs:element>

  <xs:element name="ceasCertificateChallenge" type="tns:ceasCertificateChallenge"></xs:element>

  <xs:element name="ceasChallenge" type="tns:ceasChallenge"></xs:element>

  <xs:element name="desClientSoftwareAuthentication" nillable="true" type="tns:desClientSoftwareAuthentication"></xs:element>

  <xs:element name="getClinicalDocumentS" type="tns:getClinicalDocumentS"></xs:element>

  <xs:element name="getClinicalDocumentSResponse" type="tns:getClinicalDocumentSResponse"></xs:element>

  <xs:element name="getMedicalFileOlderDocuments" type="tns:getMedicalFileOlderDocuments"></xs:element>

  <xs:element name="getMedicalFileOlderDocumentsResponse" type="tns:getMedicalFileOlderDocumentsResponse"></xs:element>

  <xs:element name="getPhysicianClinicalDocuments" type="tns:getPhysicianClinicalDocuments"></xs:element>

  <xs:element name="getPhysicianClinicalDocumentsResponse" type="tns:getPhysicianClinicalDocumentsResponse"></xs:element>

  <xs:element name="getRelevantReferrals" type="tns:getRelevantReferrals"></xs:element>

  <xs:element name="getRelevantReferralsResponse" type="tns:getRelevantReferralsResponse"></xs:element>

  <xs:element name="matrixChallenge" type="tns:matrixChallenge"></xs:element>

  <xs:complexType name="getMedicalFileOlderDocuments">
    <xs:sequence>
      <xs:element name="olderDocumentsRequest" type="tns:olderDocumentsRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="olderDocumentsRequest">
    <xs:complexContent>
      <xs:extension base="tns:baseOlderDocumentsRequest">
        <xs:sequence>
          <xs:element name="patientCoAuthentication" type="tns:patientCoAuthentication" minOccurs="0"></xs:element>
          <xs:element name="physicianStencilNo" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="baseOlderDocumentsRequest">
    <xs:sequence>
      <xs:element name="documentType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="endDate" type="xs:dateTime"></xs:element>
      <xs:element name="patientCid" type="xs:string"></xs:element>
      <xs:element name="startDate" type="xs:dateTime"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patientCoAuthentication">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="tns:ceasChallenge"></xs:element>
        <xs:element ref="tns:matrixChallenge"></xs:element>
      </xs:choice>
      <xs:element name="coAuthenticatorCID" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ceasChallenge">
    <xs:complexContent>
      <xs:extension base="tns:challenge">
        <xs:sequence>
          <xs:element name="cardNo" type="xs:string"></xs:element>
          <xs:element name="evidenceDate" type="xs:dateTime"></xs:element>
          <xs:element name="evidenceHash" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="challenge" abstract="true">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="matrixChallenge">
    <xs:complexContent>
      <xs:extension base="tns:challenge">
        <xs:sequence>
          <xs:element name="value" type="xs:string"></xs:element>
          <xs:element name="x" type="xs:int"></xs:element>
          <xs:element name="y" type="xs:int"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ceasCertificateChallenge">
    <xs:complexContent>
      <xs:extension base="tns:certificate">
        <xs:sequence>
          <xs:element name="cardNo" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="certificate">
    <xs:complexContent>
      <xs:extension base="tns:challenge">
        <xs:sequence>
          <xs:element name="issuer" type="xs:string"></xs:element>
          <xs:element name="serial" type="xs:string"></xs:element>
          <xs:element name="x509Certificate" type="xs:base64Binary"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="desClientSoftwareAuthentication">
    <xs:sequence>
      <xs:element name="challengeResponse" type="xs:base64Binary"></xs:element>
      <xs:element name="clientCode" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMedicalFileOlderDocumentsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:clinicalDocuments" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clinicalDocuments">
    <xs:sequence>
      <xs:element name="documentMetadata" type="tns:documentMetadata" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="documentMetadata">
    <xs:sequence></xs:sequence>
    <xs:attribute name="documentUUID" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="documentSeries" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="documentNumber" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="documentType" type="tns:DocumentType" use="required"></xs:attribute>
    <xs:attribute name="patientCid" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="effectiveTime" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="createTime" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="medicalServiceProdiderUic" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="medicalServiceProdiderName" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="authorStencilNo" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>

  <xs:complexType name="desFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence>
          <xs:element name="hint" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="desDefaultFaultBean" abstract="true">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desRuntimeFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getClinicalDocumentS">
    <xs:sequence>
      <xs:element name="clinicalDocumentRequest" type="tns:getClinicalDocumentRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClinicalDocumentRequest">
    <xs:complexContent>
      <xs:extension base="tns:documentRequest">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="documentRequest">
    <xs:sequence>
      <xs:element name="desDocumentUUID" type="xs:string"></xs:element>
      <xs:element name="documentType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="patientCid" type="xs:string"></xs:element>
      <xs:element name="patientCoAuthentication" type="tns:patientCoAuthentication" minOccurs="0"></xs:element>
      <xs:element name="physicianStencilNo" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClinicalDocumentSResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:clinicalDocumentResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clinicalDocumentResponse">
    <xs:complexContent>
      <xs:extension base="tns:cdaResponse">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cdaResponse">
    <xs:sequence>
      <xs:element name="archivedDocument" type="xs:base64Binary"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRelevantReferrals">
    <xs:sequence>
      <xs:element name="clinicalDocumentRequest" type="tns:relevantReferralsRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="relevantReferralsRequest">
    <xs:sequence>
      <xs:element name="patientCid" type="xs:string"></xs:element>
      <xs:element name="physicianSpecialtyCode" type="xs:string"></xs:element>
      <xs:element name="physicianStencilNo" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRelevantReferralsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:relevantReferralsResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="relevantReferralsResponse">
    <xs:sequence>
      <xs:element name="documents" type="tns:documentReferralMetadata" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="documentReferralMetadata">
    <xs:sequence>
      <xs:element name="authorStencilNo" type="xs:string"></xs:element>
      <xs:element name="createTime" type="xs:dateTime"></xs:element>
      <xs:element name="documentNumber" type="xs:string"></xs:element>
      <xs:element name="documentSeries" type="xs:string"></xs:element>
      <xs:element name="documentType" type="tns:DocumentType"></xs:element>
      <xs:element name="documentUUID" type="xs:string"></xs:element>
      <xs:element name="effectiveTime" type="xs:dateTime"></xs:element>
      <xs:element name="medicalServiceProdiderName" type="xs:string"></xs:element>
      <xs:element name="medicalServiceProdiderUic" type="xs:string"></xs:element>
      <xs:element name="patientCid" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPhysicianClinicalDocuments">
    <xs:sequence>
      <xs:element name="clinicalDocumentRequest" type="tns:getClinicalDocumentsRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getClinicalDocumentsRequest">
    <xs:complexContent>
      <xs:extension base="tns:myDocumentsRequest">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="myDocumentsRequest">
    <xs:sequence>
      <xs:element name="documentType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="endDate" type="xs:dateTime" minOccurs="0"></xs:element>
      <xs:element name="patientCid" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="physicianStencilNo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="startDate" type="xs:dateTime" minOccurs="0"></xs:element>
      <xs:element name="uicMedicalServiceProvider" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPhysicianClinicalDocumentsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:clinicalDocuments" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DocumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="67852-4"></xs:enumeration>
      <xs:enumeration value="34108-2"></xs:enumeration>
      <xs:enumeration value="46458-1"></xs:enumeration>
      <xs:enumeration value="11488-4"></xs:enumeration>
      <xs:enumeration value="29551-9"></xs:enumeration>
      <xs:enumeration value="57133-3"></xs:enumeration>
      <xs:enumeration value="57133-2"></xs:enumeration>
      <xs:enumeration value="57133-5"></xs:enumeration>
      <xs:enumeration value="57133-4"></xs:enumeration>
      <xs:enumeration value="68834-1"></xs:enumeration>
      <xs:enumeration value="SIUI"></xs:enumeration>
      <xs:enumeration value="PORTAL"></xs:enumeration>
      <xs:enumeration value="SIPE"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>