DES/wsdl/ConsolidatedClinicalDocument_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-07/05/2013 05:25 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="core.des.uti.ro" version="1.0" targetNamespace="core.des.uti.ro">

  <xs:element name="DesException" nillable="true" type="tns:desFaultBean"></xs:element>

  <xs:element name="DesRuntimeException" nillable="true" type="tns:desRuntimeFaultBean"></xs:element>

  <xs:element name="ceasCertificateChallenge" type="tns:ceasCertificateChallenge"></xs:element>

  <xs:element name="ceasChallenge" type="tns:ceasChallenge"></xs:element>

  <xs:element name="desClientSoftwareAuthentication" nillable="true" type="tns:desClientSoftwareAuthentication"></xs:element>

  <xs:element name="getConsolidatedAntecedentsS" type="tns:getConsolidatedAntecedentsS"></xs:element>

  <xs:element name="getConsolidatedAntecedentsSResponse" type="tns:getConsolidatedAntecedentsSResponse"></xs:element>

  <xs:element name="getConsolidatedEventsHistoryS" type="tns:getConsolidatedEventsHistoryS"></xs:element>

  <xs:element name="getConsolidatedEventsHistorySResponse" type="tns:getConsolidatedEventsHistorySResponse"></xs:element>

  <xs:element name="getConsolidatedMedicalHistoryS" type="tns:getConsolidatedMedicalHistoryS"></xs:element>

  <xs:element name="getConsolidatedMedicalHistorySResponse" type="tns:getConsolidatedMedicalHistorySResponse"></xs:element>

  <xs:element name="getConsolidatedPatientIdentityS" type="tns:getConsolidatedPatientIdentityS"></xs:element>

  <xs:element name="getConsolidatedPatientIdentitySResponse" type="tns:getConsolidatedPatientIdentitySResponse"></xs:element>

  <xs:element name="getConsolidatedSummaryS" type="tns:getConsolidatedSummaryS"></xs:element>

  <xs:element name="getConsolidatedSummarySResponse" type="tns:getConsolidatedSummarySResponse"></xs:element>

  <xs:element name="matrixChallenge" type="tns:matrixChallenge"></xs:element>

  <xs:complexType name="getConsolidatedPatientIdentityS">
    <xs:sequence>
      <xs:element name="consolidatedPatientIdentityRequest" type="tns:getConsolidatedPatientIdentityRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConsolidatedPatientIdentityRequest">
    <xs:complexContent>
      <xs:extension base="tns:dmrRequest">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dmrRequest">
    <xs:sequence>
      <xs:element name="patientCid" type="xs:string"></xs:element>
      <xs:element name="patientCoAuthentication" type="tns:patientCoAuthentication" minOccurs="0"></xs:element>
      <xs:element name="physicianStencilNo" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patientCoAuthentication">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="tns:ceasChallenge"></xs:element>
        <xs:element ref="tns:matrixChallenge"></xs:element>
      </xs:choice>
      <xs:element name="coAuthenticatorCID" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ceasChallenge">
    <xs:complexContent>
      <xs:extension base="tns:challenge">
        <xs:sequence>
          <xs:element name="cardNo" type="xs:string"></xs:element>
          <xs:element name="evidenceDate" type="xs:dateTime"></xs:element>
          <xs:element name="evidenceHash" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="challenge" abstract="true">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="matrixChallenge">
    <xs:complexContent>
      <xs:extension base="tns:challenge">
        <xs:sequence>
          <xs:element name="value" type="xs:string"></xs:element>
          <xs:element name="x" type="xs:int"></xs:element>
          <xs:element name="y" type="xs:int"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ceasCertificateChallenge">
    <xs:complexContent>
      <xs:extension base="tns:certificate">
        <xs:sequence>
          <xs:element name="cardNo" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="certificate">
    <xs:complexContent>
      <xs:extension base="tns:challenge">
        <xs:sequence>
          <xs:element name="issuer" type="xs:string"></xs:element>
          <xs:element name="serial" type="xs:string"></xs:element>
          <xs:element name="x509Certificate" type="xs:base64Binary"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="desClientSoftwareAuthentication">
    <xs:sequence>
      <xs:element name="challengeResponse" type="xs:base64Binary"></xs:element>
      <xs:element name="clientCode" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConsolidatedPatientIdentitySResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:clinicalDocumentResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="clinicalDocumentResponse">
    <xs:complexContent>
      <xs:extension base="tns:cdaResponse">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cdaResponse">
    <xs:sequence>
      <xs:element name="archivedDocument" type="xs:base64Binary"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence>
          <xs:element name="hint" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="desDefaultFaultBean" abstract="true">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desRuntimeFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getConsolidatedMedicalHistoryS">
    <xs:sequence>
      <xs:element name="consolidatedMedicalHistory" type="tns:getConsolidatedMedicalHistoryRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConsolidatedMedicalHistoryRequest">
    <xs:complexContent>
      <xs:extension base="tns:dmrRequest">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getConsolidatedMedicalHistorySResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:clinicalDocumentResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConsolidatedSummaryS">
    <xs:sequence>
      <xs:element name="consolidatedSummaryRequest" type="tns:getConsolidatedSummaryRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConsolidatedSummaryRequest">
    <xs:complexContent>
      <xs:extension base="tns:dmrRequest">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getConsolidatedSummarySResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:clinicalDocumentResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConsolidatedEventsHistoryS">
    <xs:sequence>
      <xs:element name="consolidatedEventsHistory" type="tns:getConsolidatedEventsHistoryRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConsolidatedEventsHistoryRequest">
    <xs:complexContent>
      <xs:extension base="tns:dmrRequest">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getConsolidatedEventsHistorySResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:clinicalDocumentResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConsolidatedAntecedentsS">
    <xs:sequence>
      <xs:element name="consolidatedAntecedentsRequest" type="tns:getConsolidatedAntecedentsRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getConsolidatedAntecedentsRequest">
    <xs:complexContent>
      <xs:extension base="tns:dmrRequest">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getConsolidatedAntecedentsSResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:clinicalDocumentResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>