DES/wsdl/ExportCodingSystem_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-07/05/2013 05:25 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="core.des.uti.ro" version="1.0" targetNamespace="core.des.uti.ro">

  <xs:element name="DesException" nillable="true" type="tns:desFaultBean"></xs:element>

  <xs:element name="DesRuntimeException" nillable="true" type="tns:desRuntimeFaultBean"></xs:element>

  <xs:element name="codeSystem" type="tns:catalogMetadata"></xs:element>

  <xs:element name="desClientSoftwareAuthentication" nillable="true" type="tns:desClientSoftwareAuthentication"></xs:element>

  <xs:element name="exportCodeSystem" type="tns:exportCodeSystem"></xs:element>

  <xs:element name="exportCodeSystemResponse" type="tns:exportCodeSystemResponse"></xs:element>

  <xs:element name="exportSystemCodesSummary" type="tns:exportSystemCodesSummary"></xs:element>

  <xs:element name="exportSystemCodesSummaryResponse" type="tns:exportSystemCodesSummaryResponse"></xs:element>

  <xs:element name="systemCodesSummary" type="tns:catalogsSummary"></xs:element>

  <xs:complexType name="exportSystemCodesSummary">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="desClientSoftwareAuthentication">
    <xs:sequence>
      <xs:element name="challengeResponse" type="xs:base64Binary"></xs:element>
      <xs:element name="clientCode" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exportSystemCodesSummaryResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:exportCatalogsSummaryResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exportCatalogsSummaryResponse">
    <xs:sequence>
      <xs:element ref="tns:systemCodesSummary"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="catalogsSummary">
    <xs:sequence>
      <xs:element name="summaryDate" type="xs:string" form="qualified" minOccurs="0"></xs:element>
      <xs:element name="systemCodes" form="qualified" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:codeSystem" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="catalogMetadata">
    <xs:sequence>
      <xs:element name="codeSystem" type="xs:string" form="qualified"></xs:element>
      <xs:element name="codeSystemName" type="xs:string" form="qualified"></xs:element>
      <xs:element name="lastModifyDate" type="xs:string" form="qualified"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence>
          <xs:element name="hint" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="desDefaultFaultBean" abstract="true">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desRuntimeFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="exportCodeSystem">
    <xs:sequence>
      <xs:element name="exportCodeSystemRequest" type="tns:exportCatalogRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exportCatalogRequest">
    <xs:sequence>
      <xs:element name="codeSystemName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exportCodeSystemResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:exportCatalogsResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="exportCatalogsResponse">
    <xs:sequence>
      <xs:element name="archivedFile" type="xs:base64Binary"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>