DES/wsdl/ExportCodingSystem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ExportCodingSystem" targetNamespace="core.des.uti.ro" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="core.des.uti.ro" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="core.des.uti.ro" schemaLocation="ExportCodingSystem_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="exportCodeSystem">
    <part name="parameters" element="tns:exportCodeSystem">
    </part>
    <part name="desClientSoftwareAuthentication" element="tns:desClientSoftwareAuthentication">
    </part>
  </message>
  <message name="exportSystemCodesSummaryResponse">
    <part name="result" element="tns:exportSystemCodesSummaryResponse">
    </part>
  </message>
  <message name="exportCodeSystemResponse">
    <part name="result" element="tns:exportCodeSystemResponse">
    </part>
  </message>
  <message name="exportSystemCodesSummary">
    <part name="parameters" element="tns:exportSystemCodesSummary">
    </part>
    <part name="desClientSoftwareAuthentication" element="tns:desClientSoftwareAuthentication">
    </part>
  </message>
  <message name="DesRuntimeException">
    <part name="fault" element="tns:DesRuntimeException">
    </part>
  </message>
  <message name="DesException">
    <part name="fault" element="tns:DesException">
    </part>
  </message>
  <portType name="ExportCatalogs">
    <operation name="exportSystemCodesSummary" parameterOrder="parameters desClientSoftwareAuthentication">
      <input message="tns:exportSystemCodesSummary" wsam:Action="core.des.uti.ro/ExportCatalogs/exportSystemCodesSummaryRequest">
    </input>
      <output message="tns:exportSystemCodesSummaryResponse" wsam:Action="core.des.uti.ro/ExportCatalogs/exportSystemCodesSummaryResponse">
    </output>
      <fault name="DesRuntimeException" message="tns:DesRuntimeException" wsam:Action="core.des.uti.ro/ExportCatalogs/exportSystemCodesSummary/Fault/DesRuntimeException">
    </fault>
      <fault name="DesException" message="tns:DesException" wsam:Action="core.des.uti.ro/ExportCatalogs/exportSystemCodesSummary/Fault/DesException">
    </fault>
    </operation>
    <operation name="exportCodeSystem" parameterOrder="parameters desClientSoftwareAuthentication">
      <input message="tns:exportCodeSystem" wsam:Action="core.des.uti.ro/ExportCatalogs/exportCodeSystemRequest">
    </input>
      <output message="tns:exportCodeSystemResponse" wsam:Action="core.des.uti.ro/ExportCatalogs/exportCodeSystemResponse">
    </output>
      <fault name="DesRuntimeException" message="tns:DesRuntimeException" wsam:Action="core.des.uti.ro/ExportCatalogs/exportCodeSystem/Fault/DesRuntimeException">
    </fault>
      <fault name="DesException" message="tns:DesException" wsam:Action="core.des.uti.ro/ExportCatalogs/exportCodeSystem/Fault/DesException">
    </fault>
    </operation>
  </portType>
  <binding name="ExportCodingSystemPortBinding" type="tns:ExportCatalogs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="exportSystemCodesSummary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body parts="parameters" use="literal"/>
        <soap:header message="tns:exportSystemCodesSummary" part="desClientSoftwareAuthentication" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DesRuntimeException">
        <soap:fault name="DesRuntimeException" use="literal"/>
      </fault>
      <fault name="DesException">
        <soap:fault name="DesException" use="literal"/>
      </fault>
    </operation>
    <operation name="exportCodeSystem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body parts="parameters" use="literal"/>
        <soap:header message="tns:exportCodeSystem" part="desClientSoftwareAuthentication" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DesRuntimeException">
        <soap:fault name="DesRuntimeException" use="literal"/>
      </fault>
      <fault name="DesException">
        <soap:fault name="DesException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ExportCodingSystem">
    <port name="ExportCodingSystemPort" binding="tns:ExportCodingSystemPortBinding">
      <soap:address location="http://172.30.16.29:9080/desws/ExportCodingSystem"/>
    </port>
  </service>
</definitions>
