DES/wsdl/ManageMedicalFile_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-11/28/2011 06:21 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="core.des.uti.ro" version="1.0" targetNamespace="core.des.uti.ro">

  <xs:element name="DesException" nillable="true" type="tns:desFaultBean"></xs:element>

  <xs:element name="DesRuntimeException" nillable="true" type="tns:desRuntimeFaultBean"></xs:element>

  <xs:element name="desClientSoftwareAuthentication" nillable="true" type="tns:desClientSoftwareAuthentication"></xs:element>

  <xs:element name="initializeMedicalFileS" type="tns:initializeMedicalFileS"></xs:element>

  <xs:element name="initializeMedicalFileSResponse" type="tns:initializeMedicalFileSResponse"></xs:element>

  <xs:complexType name="initializeMedicalFileS">
    <xs:sequence>
      <xs:element name="initMedicalFileRequest" type="tns:secureInitMedicalFileRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="secureInitMedicalFileRequest">
    <xs:complexContent>
      <xs:extension base="tns:agreementSubmission">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="agreementSubmission">
    <xs:complexContent>
      <xs:extension base="tns:securedRequestSubmission">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="securedRequestSubmission" abstract="true">
    <xs:sequence>
      <xs:element name="archivedDocument" type="xs:base64Binary"></xs:element>
      <xs:element name="pkcs7signature" type="xs:base64Binary"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desClientSoftwareAuthentication">
    <xs:sequence>
      <xs:element name="challengeResponse" type="xs:base64Binary"></xs:element>
      <xs:element name="clientCode" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="initializeMedicalFileSResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:initMedicalFileResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="initMedicalFileResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="desFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence>
          <xs:element name="hint" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="desDefaultFaultBean" abstract="true">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desRuntimeFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>