DES/wsdl/SecurityMatrix_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-07/05/2013 05:25 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="core.des.uti.ro" version="1.0" targetNamespace="core.des.uti.ro">

  <xs:element name="DesException" nillable="true" type="tns:desFaultBean"></xs:element>

  <xs:element name="DesRuntimeException" nillable="true" type="tns:desRuntimeFaultBean"></xs:element>

  <xs:element name="desClientSoftwareAuthentication" nillable="true" type="tns:desClientSoftwareAuthentication"></xs:element>

  <xs:element name="suggestMatrixCoordinates" type="tns:suggestMatrixCoordinates"></xs:element>

  <xs:element name="suggestMatrixCoordinatesResponse" type="tns:suggestMatrixCoordinatesResponse"></xs:element>

  <xs:complexType name="suggestMatrixCoordinates">
    <xs:sequence>
      <xs:element name="patientCid" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="physicianStencilNo" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desClientSoftwareAuthentication">
    <xs:sequence>
      <xs:element name="challengeResponse" type="xs:base64Binary"></xs:element>
      <xs:element name="clientCode" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="suggestMatrixCoordinatesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:matrixPos" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="matrixPos">
    <xs:sequence>
      <xs:element name="XCoord" type="xs:int"></xs:element>
      <xs:element name="YCoord" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence>
          <xs:element name="hint" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="desDefaultFaultBean" abstract="true">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desRuntimeFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>