DES/wsdl/StoreClinicalDocument.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="StoreClinicalDocument" targetNamespace="core.des.uti.ro" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="core.des.uti.ro" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="core.des.uti.ro" schemaLocation="StoreClinicalDocument_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="storeClinicalDocumentSResponse">
    <part name="result" element="tns:storeClinicalDocumentSResponse">
    </part>
  </message>
  <message name="removeDocumentSetSResponse">
    <part name="result" element="tns:removeDocumentSetSResponse">
    </part>
  </message>
  <message name="storeClinicalDocumentS">
    <part name="parameters" element="tns:storeClinicalDocumentS">
    </part>
    <part name="desClientSoftwareAuthentication" element="tns:desClientSoftwareAuthentication">
    </part>
  </message>
  <message name="removeDocumentSetS">
    <part name="parameters" element="tns:removeDocumentSetS">
    </part>
    <part name="desClientSoftwareAuthentication" element="tns:desClientSoftwareAuthentication">
    </part>
  </message>
  <message name="DesRuntimeException">
    <part name="fault" element="tns:DesRuntimeException">
    </part>
  </message>
  <message name="DesException">
    <part name="fault" element="tns:DesException">
    </part>
  </message>
  <portType name="StoreClinicalDocument">
    <operation name="storeClinicalDocumentS" parameterOrder="parameters desClientSoftwareAuthentication">
      <input message="tns:storeClinicalDocumentS" wsam:Action="core.des.uti.ro/StoreClinicalDocument/storeClinicalDocumentSRequest">
    </input>
      <output message="tns:storeClinicalDocumentSResponse" wsam:Action="core.des.uti.ro/StoreClinicalDocument/storeClinicalDocumentSResponse">
    </output>
      <fault name="DesRuntimeException" message="tns:DesRuntimeException" wsam:Action="core.des.uti.ro/StoreClinicalDocument/storeClinicalDocumentS/Fault/DesRuntimeException">
    </fault>
      <fault name="DesException" message="tns:DesException" wsam:Action="core.des.uti.ro/StoreClinicalDocument/storeClinicalDocumentS/Fault/DesException">
    </fault>
    </operation>
    <operation name="removeDocumentSetS" parameterOrder="parameters desClientSoftwareAuthentication">
      <input message="tns:removeDocumentSetS" wsam:Action="core.des.uti.ro/StoreClinicalDocument/removeDocumentSetSRequest">
    </input>
      <output message="tns:removeDocumentSetSResponse" wsam:Action="core.des.uti.ro/StoreClinicalDocument/removeDocumentSetSResponse">
    </output>
      <fault name="DesRuntimeException" message="tns:DesRuntimeException" wsam:Action="core.des.uti.ro/StoreClinicalDocument/removeDocumentSetS/Fault/DesRuntimeException">
    </fault>
      <fault name="DesException" message="tns:DesException" wsam:Action="core.des.uti.ro/StoreClinicalDocument/removeDocumentSetS/Fault/DesException">
    </fault>
    </operation>
  </portType>
  <binding name="StoreClinicalDocumentPortBinding" type="tns:StoreClinicalDocument">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="storeClinicalDocumentS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body parts="parameters" use="literal"/>
        <soap:header message="tns:storeClinicalDocumentS" part="desClientSoftwareAuthentication" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DesRuntimeException">
        <soap:fault name="DesRuntimeException" use="literal"/>
      </fault>
      <fault name="DesException">
        <soap:fault name="DesException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeDocumentSetS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body parts="parameters" use="literal"/>
        <soap:header message="tns:removeDocumentSetS" part="desClientSoftwareAuthentication" use="literal">
        </soap:header>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DesRuntimeException">
        <soap:fault name="DesRuntimeException" use="literal"/>
      </fault>
      <fault name="DesException">
        <soap:fault name="DesException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="StoreClinicalDocument">
    <port name="StoreClinicalDocumentPort" binding="tns:StoreClinicalDocumentPortBinding">
      <soap:address location="http://172.30.16.29:9080/desws/StoreClinicalDocument"/>
    </port>
  </service>
</definitions>
