DES/wsdl/StoreClinicalDocument_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-07/05/2013 05:25 AM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a> --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="core.des.uti.ro" version="1.0" targetNamespace="core.des.uti.ro">

  <xs:element name="DesException" nillable="true" type="tns:desFaultBean"></xs:element>

  <xs:element name="DesRuntimeException" nillable="true" type="tns:desRuntimeFaultBean"></xs:element>

  <xs:element name="desClientSoftwareAuthentication" nillable="true" type="tns:desClientSoftwareAuthentication"></xs:element>

  <xs:element name="removeDocumentSetS" type="tns:removeDocumentSetS"></xs:element>

  <xs:element name="removeDocumentSetSResponse" type="tns:removeDocumentSetSResponse"></xs:element>

  <xs:element name="storeClinicalDocumentS" type="tns:storeClinicalDocumentS"></xs:element>

  <xs:element name="storeClinicalDocumentSResponse" type="tns:storeClinicalDocumentSResponse"></xs:element>

  <xs:complexType name="removeDocumentSetS">
    <xs:sequence>
      <xs:element name="removeClinicalDocumentRequest" type="tns:secureRemoveClinicalDocumentRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="secureRemoveClinicalDocumentRequest">
    <xs:complexContent>
      <xs:extension base="tns:securedRequestSubmission">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="securedRequestSubmission" abstract="true">
    <xs:sequence>
      <xs:element name="archivedDocument" type="xs:base64Binary"></xs:element>
      <xs:element name="pkcs7signature" type="xs:base64Binary"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desClientSoftwareAuthentication">
    <xs:sequence>
      <xs:element name="challengeResponse" type="xs:base64Binary"></xs:element>
      <xs:element name="clientCode" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeDocumentSetSResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:removeClinicalDocumentResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeClinicalDocumentResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="desFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence>
          <xs:element name="hint" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="desDefaultFaultBean" abstract="true">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="desRuntimeFaultBean">
    <xs:complexContent>
      <xs:extension base="tns:desDefaultFaultBean">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="storeClinicalDocumentS">
    <xs:sequence>
      <xs:element name="storeClinicalDocument" type="tns:storeClinicalDocumentRequest" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="storeClinicalDocumentRequest">
    <xs:complexContent>
      <xs:extension base="tns:cdaDocumentSubmission">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cdaDocumentSubmission">
    <xs:complexContent>
      <xs:extension base="tns:securedRequestSubmission">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="storeClinicalDocumentSResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:storeClinicalDocumentResponse" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="storeClinicalDocumentResponse">
    <xs:sequence>
      <xs:element name="warnings" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>